<!-- <br><br><h1> Home Page, coming soon </h1><br> -->
<!-- <%#= link_to 'View all Executives', executives_path %> | <%#= link_to 'View all Organizations', organizations_path %> -->

<div class="wrap-list">

<div class="home-tagline">Pushing Your Data 'til it's Bent, but Not Broken</div>

	<div class="home-body">
		<table>
			<tr class="table-row-1">
				<th class="table-column-1"><h2>Client<br>Actions</h2></th>
				<th class="table-column-1"><h2>Featured<br>LA Consultant</h2></th>
				<th class="table-column-1"><h2>Featured<br>LA Startup</h2></th>
			</tr>
			<tr class="table-row-normal">
				<td class="table-column-1"><p>Client Name 1</p></td>
				<td><p>Consultant Name 1</p>
					<br> <br>
				</td>
				<td><p>Startup Name 1</p></td>
			</tr>
			<tr class="table-row-normal">
				<td class="table-column-1"><p>Client Name 2</p></td>
				<td><p>Consultant Name 2</p>
					<br> <br>
				</td>
				<td><p>Startup Name 2</p></td>
			</tr>
			<tr class="table-row-normal">
				<td class="table-column-1"><p>Client Name 3</p></td>
				<td><p>Consultant Name 3</p>
					<br> <br>
				</td>
				<td><p>Startup Name 3</p></td>
			</tr>
		</table>
	</div>
</div>
</div>